@import "neat-helpers";

/* Configuration neatienne (un peu plus facile à prononcer et à écrire que nietzschéenne) */
$grid-columns: 12;
$max-width: em(960);
$screen-medium: em(480);
$screen-medium-plus: em(768);
$screen-large: em(960);
$bp-defaut-up: new-breakpoint(min-width 0);
$bp-medium-up: new-breakpoint(min-width $screen-medium);
$bp-medium-plus-up: new-breakpoint(min-width $screen-medium-plus);
$bp-large-up: new-breakpoint(min-width $screen-large);
$visual-grid:true; // afficher la grille pour le debug
