
/* Tous les .container quelques soient les écrans */
.container{
	@include outer-container;
	padding:0 1em;
	
	@include media($bp-large-up){
		padding:0;
	}
}

/* Configuration des blocs utiles à la mixin Layoutgala */
$layoutgala-container-selector: unquote("#falsecontainer");
$layoutgala-wrapper-selector: unquote("#wrapper");
$layoutgala-content-selector: unquote("#content");
$layoutgala-aside1-selector: unquote("#aside");
$layoutgala-aside2-selector: unquote("#extra");
$layoutgala-footer-selector: unquote("#falsefooter");

/* En grand écran, on passe à deux colonnes */
@include media($bp-large-up){
	#content{
		padding-right:flex-gutter();
	}
	@include layoutgala-33(flex-grid(12), flex-grid(9)+flex-gutter());
}

/* Configuration hashgridesque */
$default-column-count: 12;
$default-column-width: flex-grid(1);
$default-gutter-width: flex-gutter();
$default-vertical-rhythm: 24px;
$default-vertical-guide-color: rgba(white,0);

@include hashgrid{
	@include setgrid(1);
}

