
/* Palette de couleur */
$couleur-rouge:#d44423;
$couleur-beige:#c7b698;
$couleur-beige-clair:#e8e0d1;
$couleur-sombre:#322c20;

/* Palette fonctionnelle */
$couleur-texte:black;
$couleur-lien: $couleur-beige;

/* Variables de typographie */
$typo-line-height: 1.5;
$typo-margin-vertical: ($typo-line-height)*1em;
