
/* Formulaires - styles communs */
label{
	display:block;
	font-weight:bold;
}
textarea, input[type=text], input.text, select{
	background-color:white;
	border:$typo-margin-vertical/3/8 solid grey;
	border-radius:3px;
	font-size:1em;
	line-height:$typo-line-height - ($typo-line-height/3/4);
	margin:0;
	padding:0 0.5em;
	width:90%;
	max-width:90%;
	
	&:focus{
		background-color:white;
		border-color:$couleur-texte;
	}
}


/* Formulaire fournis par SPIP */
.formulaire_spip{
	clear:both;
	
	ul{
		margin:0;
	}
	.editer{
		list-style:none;
		
		.erreur_message{
		}
	}
	/*.editer{
		// À partir des moyens grands on met deux champs par ligne
		@include media($bp-medium-up){
			float:left;
			width:50%;
		}
	}
	.saisie_textarea{
		clear:both;
	}*/
	.boutons{
		clear:both;
		border-top:1px solid black;
		margin-top:1em;
		padding:1em;
		text-align:center;
	}
}

