
@mixin list-none() {
	list-style:none;
	margin-left:0;
	
	li:before{
		content:'';
	}
}

// On style les listes utilisées dans les trucs Z
.liste-items{
	@extend .list-none;
	
	.item{
		.titre{
			display:block;
		}
	}
}
