
/* Ajouter un dégradé de transparent vers un fond, pour masquer le bas d'un texte */
@mixin text-fadeout($color:#fff, $height:3em){
	position:relative;
	
	&:after{
		@include linear-gradient(center top, rgba($color, 0), $color);
		bottom:0;
		content:"";
		height:$height;
		left:0;
		position:absolute;
		width:100%;
	}
}
