
/* Menu principal */
.firstnav{
	clear:both;
	
	.menu-items{	
		@extend .list-none;
		margin:0;
	}
	a{
		display:block;
	}
	
	@include media($bp-medium-plus-up){
		.menu-items{
			line-height:0;
			text-align:justify;
			
			&:after{
				content:'';
				display:inline-block;
				vertical-align:top;
				width:99%;
			}
		}
		.item{
			display:inline-block;
			line-height:$typo-line-height;
			margin:0;
			padding:0;
			vertical-align:top;
			
			&:first-child{
				text-align:left;
			}
			&:last-child{
				text-align:right;
			}
		}
	}
}
